In [263]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from twython import Twython
import json
import time
from twitter import *

In [310]:
# Get keys from TWITTER_CREDS_FN or https://developer.twitter.com/en/apps/16087482
# NOTE: do not run this cell unless you get the API keys from twitter.com.
CONSUMER_KEY = 'e0cR4oCRsfqMQOIgSeZu18xGm'
CONSUMER_SECRET_KEY = 'ucPIEBnGCk6YJUmM8yV3FYbx8Fta1kzDzo4woPHZu1RdqmwGNp'
ACCESS_TOKEN_SECRET = '9waRhmgfqIUToRbrsqXw2qltAC7oDwgJef3aJV91PToaU'
TWITTER_CREDS_FN = '/Users/Che10/Downloads/.twitter-credentials.json'

if (CONSUMER_KEY != ''):
    twitter = Twython(CONSUMER_KEY, CONSUMER_SECRET_KEY, oauth_version=2)
    ACCESS_TOKEN = twitter.obtain_access_token()

    # Save creds to json file
    creds = {'CONSUMER_KEY':CONSUMER_KEY, 'CONSUMER_SECRET_KEY':CONSUMER_SECRET_KEY,
             'ACCESS_TOKEN':ACCESS_TOKEN, 'ACCESS_TOKEN_SECRET':ACCESS_TOKEN_SECRET}
    with open(TWITTER_CREDS_FN, 'w') as outfile:  
        json.dump(creds, outfile)

In [311]:
try:
    with open(TWITTER_CREDS_FN) as data_file:
        data = json.load(data_file)
        CONSUMER_KEY = data['CONSUMER_KEY']
        CONSUMER_SECRET_KEY = data['CONSUMER_SECRET_KEY']
        ACCESS_TOKEN = data['ACCESS_TOKEN']
        ACCESS_TOKEN_SECRET = data['ACCESS_TOKEN_SECRET']
#         print('CONSUMER_KEY={}\nCONSUMER_SECRET_KEY={}\nACCESS_TOKEN={}\nACCESS_TOKEN_SECRET={}'.format(
#             CONSUMER_KEY, CONSUMER_SECRET_KEY, ACCESS_TOKEN, ACCESS_TOKEN_SECRET))
except IOError:
    print("Could not read file: ~/.twitter-credentials.json. Please Instantiate object with your username and password")

In [312]:
# twitter = Twython(CONSUMER_KEY, access_token=ACCESS_TOKEN)
api = Twython(CONSUMER_KEY, access_token=ACCESS_TOKEN)

In [313]:
# total_tweets = []
# texts2=[]
# MAX_ATTEMPTS = 10000
# full_Text=''
# COUNT_OF_TWEETS_TO_BE_FETCHED = 448000



# for i in range(0,MAX_ATTEMPTS):

#     if(COUNT_OF_TWEETS_TO_BE_FETCHED < len(total_tweets)):
#         break # we got 500 tweets... !!
        
#     if(0 == i):
# #         results = twitter.search(q='virus',tweet_mode='extended', count=5000,geocode='43.131755,-75.489821,200km')['statuses']
# #         time.sleep(3)
#          results = twitter.search(q='virus',until='2020-04-9',tweet_mode='extended',result_type='mixed', count=5000,geocode='43.131755,-75.489821,200km')['statuses']
#     else:
#         # After the first call we should have max_id from result of previous call. Pass it in query.
# #         results = twitter.search(q='virus',tweet_mode='extended', count=5000,geocode='43.131755,-75.489821,200km')['statuses']
# #         time.sleep(3)
#          results = twitter.search(q='virus', until='2020-04-9',tweet_mode='extended',result_type='mixed', count=5000,geocode='43.131755,-75.489821,200km')['statuses']

#     # STEP 2: Save the returned tweets
#     count=0
#     for result in results: 
#         count=count+1
#         if 'retweeted_status' not in result :
#             pass
#         else:
#             if result['is_quote_status']==True :
#                 print("-----------------------------------------------------")
#                 pass
#             else:
#                 hashtags=[]
#                 for hashtag in result['entities']['hashtags']:
#                     hashtags.append(hashtag['text'])
#                 texts2 = [result['created_at'],result['full_text'],result['user']['created_at'],result['favorite_count'],result['retweet_count'],result['user']['location'],result['user']['followers_count'],result['user']['verified'],result['lang'],hashtags]
#                 total_tweets.append(texts2)
#                 full_Text= result['full_text']
#                 print('normal')
#                 print(full_Text)
    
# #     time.sleep(3)

In [314]:
# nyc= '41.799111,-74.146333,200km'
# chic='39.960612,-89.087748,300km'
# sa='36.967862,-121.743264,400km'
# la='33.597697,-117.782378,250km'
# fl='28.175202,-81.651903,300km'
# seoul='36.795872,127.912406,160km'
# ital='44.498498,11.104739,350km'
# uk='52.674922,-1.420274,300km'
# germany='53.131055,11.324677,300km'
# ind='23.529528,80.728972,700km'
# usa='40.614615,-113.692701,1000km'

In [322]:
total_tweets = []

def func():
    
    print('new start ---------')
    texts2=[]
    full_Text=''
    count=0
    MAX_ATTEMPTS = 100000
    COUNT_OF_TWEETS_TO_BE_FETCHED = 40000

    for i in range(0,MAX_ATTEMPTS):
        print(time.ctime(time.time()))
        print('OUTSIDE total_tweets = ',len(total_tweets))
        if (COUNT_OF_TWEETS_TO_BE_FETCHED < len(total_tweets)):
            print('total_tweets = ',len(total_tweets))
            print('count = ',count)
            print(time.ctime(time.time()))
            return total_tweets
            break

        # STEP 1: Query Twitter
        if(0 == i ):
                        
#             results = api.search(q='virus',tweet_mode='extended',count=5000)
#             results = api.search(q='economy',tweet_mode='extended',count=5000,geocode='28.175202,-81.651903,300km') 
            results = api.search(q="economy",count='500',until='2020-04-21',tweet_mode='extended',geocode='41.799111,-74.146333,200km')        
        else:
            # After the first call we should have max_id from result of previous call. Pass it in query.
            
#             results = api.search(q='virus',tweet_mode='extended',count=5000,include_entities='true',max_id=next_max_id)
#             results = api.search(q='economy',tweet_mode='extended',count=5000,geocode='28.175202,-81.651903,300km',include_entities='true',max_id=next_max_id)
            results = api.search(q="economy",count='4000',until='2020-04-21',tweet_mode='extended',geocode='41.799111,-74.146333,200km',include_entities='true',max_id=next_max_id)
            
            
    # STEP 2: Save the returned tweets

        for result in results['statuses']: 
            count=count+1
            if 'retweeted_status' in result:
                pass
            else:
                if result['is_quote_status']==True : 
                    pass
                else:
                    hashtags=[]
                    for hashtag in result['entities']['hashtags']:
                        hashtags.append(hashtag['text'])
                    texts2 = [result['created_at'],result['full_text'],result['user']['created_at'],result['favorite_count'],result['retweet_count'],result['user']['location'],result['user']['followers_count'],result['user']['verified'],result['lang'],hashtags]
                    total_tweets.append(texts2)
                    full_Text= result['full_text']

        try:
            # Parse the data returned to get max_id to be passed in consequent call.
            next_results_url_params = results['search_metadata']['next_results']
            next_max_id = next_results_url_params.split('max_id=')[1].split('&')[0]
            print(type(next_max_id))
            print('id  = ',next_max_id)
        except:
            print("oops")            
            print(time.ctime(time.time()))            
            break

In [323]:
func()

new start ---------
Wed Apr 22 17:00:28 2020
OUTSIDE total_tweets =  0
<class 'str'>
id  =  1252385200773885954
Wed Apr 22 17:00:29 2020
OUTSIDE total_tweets =  19
<class 'str'>
id  =  1252383800471875590
Wed Apr 22 17:00:29 2020
OUTSIDE total_tweets =  34
<class 'str'>
id  =  1252382748628533247
Wed Apr 22 17:00:29 2020
OUTSIDE total_tweets =  54
<class 'str'>
id  =  1252381602631450624
Wed Apr 22 17:00:30 2020
OUTSIDE total_tweets =  72
<class 'str'>
id  =  1252380272198205442
Wed Apr 22 17:00:30 2020
OUTSIDE total_tweets =  84
<class 'str'>
id  =  1252379193691664386
Wed Apr 22 17:00:30 2020
OUTSIDE total_tweets =  107
<class 'str'>
id  =  1252377990362656767
Wed Apr 22 17:00:31 2020
OUTSIDE total_tweets =  121
<class 'str'>
id  =  1252376958639288321
Wed Apr 22 17:00:31 2020
OUTSIDE total_tweets =  133
<class 'str'>
id  =  1252375962580205572
Wed Apr 22 17:00:32 2020
OUTSIDE total_tweets =  147
<class 'str'>
id  =  1252375066001592322
Wed Apr 22 17:00:32 2020
OUTSIDE total_tweets =  169
<class 'str'>
id  =  1252374053295255552
Wed Apr 22 17:00:32 2020
OUTSIDE total_tweets =  190
<class 'str'>
id  =  1252372670953316351
Wed Apr 22 17:00:33 2020
OUTSIDE total_tweets =  210
<class 'str'>
id  =  1252371115470548994
Wed Apr 22 17:00:33 2020
OUTSIDE total_tweets =  237
<class 'str'>
id  =  1252369732889534468
Wed Apr 22 17:00:33 2020
OUTSIDE total_tweets =  258
<class 'str'>
id  =  1252368319488770049
Wed Apr 22 17:00:33 2020
OUTSIDE total_tweets =  269
<class 'str'>
id  =  1252367026451955712
Wed Apr 22 17:00:34 2020
OUTSIDE total_tweets =  284
<class 'str'>
id  =  1252365644680491007
Wed Apr 22 17:00:34 2020
OUTSIDE total_tweets =  294
<class 'str'>
id  =  1252364123800662018
Wed Apr 22 17:00:34 2020
OUTSIDE total_tweets =  313
<class 'str'>
id  =  1252362191157620737
Wed Apr 22 17:00:35 2020
OUTSIDE total_tweets =  334
<class 'str'>
id  =  1252360829074169857
Wed Apr 22 17:00:35 2020
OUTSIDE total_tweets =  348
<class 'str'>
id  =  1252359436821094399
Wed Apr 22 17:00:35 2020
OUTSIDE total_tweets =  369
<class 'str'>
id  =  1252358173945548801
Wed Apr 22 17:00:36 2020
OUTSIDE total_tweets =  394
<class 'str'>
id  =  1252357089306898437
Wed Apr 22 17:00:36 2020
OUTSIDE total_tweets =  412
<class 'str'>
id  =  1252355858219974662
Wed Apr 22 17:00:36 2020
OUTSIDE total_tweets =  434
<class 'str'>
id  =  1252354336350334984
Wed Apr 22 17:00:36 2020
OUTSIDE total_tweets =  458
<class 'str'>
id  =  1252352958555017215
Wed Apr 22 17:00:37 2020
OUTSIDE total_tweets =  480
<class 'str'>
id  =  1252351713572384767
Wed Apr 22 17:00:37 2020
OUTSIDE total_tweets =  502
<class 'str'>
id  =  1252350570150588415
Wed Apr 22 17:00:37 2020
OUTSIDE total_tweets =  515
<class 'str'>
id  =  1252349624058175490
Wed Apr 22 17:00:38 2020
OUTSIDE total_tweets =  532
<class 'str'>
id  =  1252348457852928006
Wed Apr 22 17:00:38 2020
OUTSIDE total_tweets =  548
<class 'str'>
id  =  1252347034465562623
Wed Apr 22 17:00:38 2020
OUTSIDE total_tweets =  566
<class 'str'>
id  =  1252345916343775234
Wed Apr 22 17:00:38 2020
OUTSIDE total_tweets =  580
<class 'str'>
id  =  1252344836495048705
Wed Apr 22 17:00:39 2020
OUTSIDE total_tweets =  600
<class 'str'>
id  =  1252343619974869002
Wed Apr 22 17:00:39 2020
OUTSIDE total_tweets =  626
<class 'str'>
id  =  1252342397054287872
Wed Apr 22 17:00:39 2020
OUTSIDE total_tweets =  653
<class 'str'>
id  =  1252340882432421894
Wed Apr 22 17:00:40 2020
OUTSIDE total_tweets =  673
<class 'str'>
id  =  1252339855209553919
Wed Apr 22 17:00:40 2020
OUTSIDE total_tweets =  690
<class 'str'>
id  =  1252338690321334271
Wed Apr 22 17:00:40 2020
OUTSIDE total_tweets =  712
<class 'str'>
id  =  1252337692953636864
Wed Apr 22 17:00:41 2020
OUTSIDE total_tweets =  735
<class 'str'>
id  =  1252336492912930816
Wed Apr 22 17:00:41 2020
OUTSIDE total_tweets =  753
<class 'str'>
id  =  1252335284097712127
Wed Apr 22 17:00:41 2020
OUTSIDE total_tweets =  774
<class 'str'>
id  =  1252334266651901951
Wed Apr 22 17:00:41 2020
OUTSIDE total_tweets =  786
<class 'str'>
id  =  1252333272736116735
Wed Apr 22 17:00:42 2020
OUTSIDE total_tweets =  799
<class 'str'>
id  =  1252332116731289599
Wed Apr 22 17:00:42 2020
OUTSIDE total_tweets =  816
<class 'str'>
id  =  1252331079152762881
Wed Apr 22 17:00:42 2020
OUTSIDE total_tweets =  831
<class 'str'>
id  =  1252330074508009471
Wed Apr 22 17:00:43 2020
OUTSIDE total_tweets =  845
<class 'str'>
id  =  1252329243062697983
Wed Apr 22 17:00:43 2020
OUTSIDE total_tweets =  860
<class 'str'>
id  =  1252328256990138368
Wed Apr 22 17:00:43 2020
OUTSIDE total_tweets =  876
<class 'str'>
id  =  1252327164759822336
Wed Apr 22 17:00:44 2020
OUTSIDE total_tweets =  896
<class 'str'>
id  =  1252326087075549183
Wed Apr 22 17:00:44 2020
OUTSIDE total_tweets =  921
<class 'str'>
id  =  1252324956379271174
Wed Apr 22 17:00:44 2020
OUTSIDE total_tweets =  941
<class 'str'>
id  =  1252324055526621191
Wed Apr 22 17:00:45 2020
OUTSIDE total_tweets =  957
<class 'str'>
id  =  1252323193408360451
Wed Apr 22 17:00:45 2020
OUTSIDE total_tweets =  972
<class 'str'>
id  =  1252322393864966144
Wed Apr 22 17:00:45 2020
OUTSIDE total_tweets =  992
<class 'str'>
id  =  1252321653155147777
Wed Apr 22 17:00:46 2020
OUTSIDE total_tweets =  1005
<class 'str'>
id  =  1252320825421828097
Wed Apr 22 17:00:46 2020
OUTSIDE total_tweets =  1015
<class 'str'>
id  =  1252320011059777535
Wed Apr 22 17:00:46 2020
OUTSIDE total_tweets =  1024
<class 'str'>
id  =  1252319260568948749
Wed Apr 22 17:00:46 2020
OUTSIDE total_tweets =  1039
<class 'str'>
id  =  1252318452423036927
Wed Apr 22 17:00:47 2020
OUTSIDE total_tweets =  1054
<class 'str'>
id  =  1252317205787635712
Wed Apr 22 17:00:47 2020
OUTSIDE total_tweets =  1069
<class 'str'>
id  =  1252316241563463679
Wed Apr 22 17:00:47 2020
OUTSIDE total_tweets =  1086
<class 'str'>
id  =  1252315420087824383
Wed Apr 22 17:00:47 2020
OUTSIDE total_tweets =  1104
<class 'str'>
id  =  1252314580765868032
Wed Apr 22 17:00:48 2020
OUTSIDE total_tweets =  1109
<class 'str'>
id  =  1252313665463779330
Wed Apr 22 17:00:48 2020
OUTSIDE total_tweets =  1123
<class 'str'>
id  =  1252312855233335295
Wed Apr 22 17:00:48 2020
OUTSIDE total_tweets =  1134
<class 'str'>
id  =  1252311836508270591
Wed Apr 22 17:00:48 2020
OUTSIDE total_tweets =  1153
<class 'str'>
id  =  1252311252250038271
Wed Apr 22 17:00:49 2020
OUTSIDE total_tweets =  1164
<class 'str'>
id  =  1252310484587393023
Wed Apr 22 17:00:49 2020
OUTSIDE total_tweets =  1179
<class 'str'>
id  =  1252309767814393856
Wed Apr 22 17:00:49 2020
OUTSIDE total_tweets =  1189
<class 'str'>
id  =  1252309082624663552
Wed Apr 22 17:00:49 2020
OUTSIDE total_tweets =  1204
<class 'str'>
id  =  1252308513256345599
Wed Apr 22 17:00:50 2020
OUTSIDE total_tweets =  1219
<class 'str'>
id  =  1252308025920159746
Wed Apr 22 17:00:50 2020
OUTSIDE total_tweets =  1235
<class 'str'>
id  =  1252307594422751239
Wed Apr 22 17:00:50 2020
OUTSIDE total_tweets =  1247
<class 'str'>
id  =  1252307244340961280
Wed Apr 22 17:00:50 2020
OUTSIDE total_tweets =  1253
<class 'str'>
id  =  1252306441748299776
Wed Apr 22 17:00:51 2020
OUTSIDE total_tweets =  1263
<class 'str'>
id  =  1252305173164277767
Wed Apr 22 17:00:51 2020
OUTSIDE total_tweets =  1279
<class 'str'>
id  =  1252303928177426431
Wed Apr 22 17:00:51 2020
OUTSIDE total_tweets =  1299
<class 'str'>
id  =  1252302727159390207
Wed Apr 22 17:00:52 2020
OUTSIDE total_tweets =  1323
<class 'str'>
id  =  1252301133160177663
Wed Apr 22 17:00:52 2020
OUTSIDE total_tweets =  1344
<class 'str'>
id  =  1252299518395256831
Wed Apr 22 17:00:52 2020
OUTSIDE total_tweets =  1369
<class 'str'>
id  =  1252298247919464450
Wed Apr 22 17:00:52 2020
OUTSIDE total_tweets =  1395
<class 'str'>
id  =  1252296278148558848
Wed Apr 22 17:00:53 2020
OUTSIDE total_tweets =  1420
<class 'str'>
id  =  1252294480536854532
Wed Apr 22 17:00:53 2020
OUTSIDE total_tweets =  1448
<class 'str'>
id  =  1252292751795744767
Wed Apr 22 17:00:53 2020
OUTSIDE total_tweets =  1476
<class 'str'>
id  =  1252290939579772927
Wed Apr 22 17:00:53 2020
OUTSIDE total_tweets =  1496
<class 'str'>
id  =  1252289429156356097
Wed Apr 22 17:00:54 2020
OUTSIDE total_tweets =  1530
<class 'str'>
id  =  1252287831164301311
Wed Apr 22 17:00:54 2020
OUTSIDE total_tweets =  1559

<class 'str'>
id  =  1252285958990565375
Wed Apr 22 17:00:54 2020
OUTSIDE total_tweets =  1585
<class 'str'>
id  =  1252284578385072127
Wed Apr 22 17:00:55 2020
OUTSIDE total_tweets =  1611
<class 'str'>
id  =  1252282930849886207
Wed Apr 22 17:00:55 2020
OUTSIDE total_tweets =  1631
<class 'str'>
id  =  1252281521173561344
Wed Apr 22 17:00:56 2020
OUTSIDE total_tweets =  1656
<class 'str'>
id  =  1252280017460969478
Wed Apr 22 17:00:56 2020
OUTSIDE total_tweets =  1678
<class 'str'>
id  =  1252278794821353483
Wed Apr 22 17:00:56 2020
OUTSIDE total_tweets =  1701
<class 'str'>
id  =  1252277081003700223
Wed Apr 22 17:00:57 2020
OUTSIDE total_tweets =  1726
<class 'str'>
id  =  1252275832825024513
Wed Apr 22 17:00:57 2020
OUTSIDE total_tweets =  1745
<class 'str'>
id  =  1252274418115641346
Wed Apr 22 17:00:58 2020
OUTSIDE total_tweets =  1765
<class 'str'>
id  =  1252273127628955647
Wed Apr 22 17:00:58 2020
OUTSIDE total_tweets =  1782
<class 'str'>
id  =  1252271533386596354
Wed Apr 22 17:00:59 2020
OUTSIDE total_tweets =  1807
<class 'str'>
id  =  1252270448898985983
Wed Apr 22 17:00:59 2020
OUTSIDE total_tweets =  1819
<class 'str'>
id  =  1252268942766325760
Wed Apr 22 17:01:00 2020
OUTSIDE total_tweets =  1848
<class 'str'>
id  =  1252267429222383615
Wed Apr 22 17:01:00 2020
OUTSIDE total_tweets =  1873
<class 'str'>
id  =  1252266084960526336
Wed Apr 22 17:01:01 2020
OUTSIDE total_tweets =  1900
<class 'str'>
id  =  1252264590110527494
Wed Apr 22 17:01:01 2020
OUTSIDE total_tweets =  1922
<class 'str'>
id  =  1252263265603743745
Wed Apr 22 17:01:01 2020
OUTSIDE total_tweets =  1941
<class 'str'>
id  =  1252261894942937087
Wed Apr 22 17:01:02 2020
OUTSIDE total_tweets =  1966
<class 'str'>
id  =  1252260510256357375
Wed Apr 22 17:01:02 2020
OUTSIDE total_tweets =  1990
<class 'str'>
id  =  1252259255782006785
Wed Apr 22 17:01:02 2020
OUTSIDE total_tweets =  2011
<class 'str'>
id  =  1252258124016353284
Wed Apr 22 17:01:02 2020
OUTSIDE total_tweets =  2028
<class 'str'>
id  =  1252257102539763711
Wed Apr 22 17:01:03 2020
OUTSIDE total_tweets =  2045
<class 'str'>
id  =  1252256110435807237
Wed Apr 22 17:01:03 2020
OUTSIDE total_tweets =  2061
<class 'str'>
id  =  1252255175496077318
Wed Apr 22 17:01:03 2020
OUTSIDE total_tweets =  2075
<class 'str'>
id  =  1252254367476002815
Wed Apr 22 17:01:03 2020
OUTSIDE total_tweets =  2086
<class 'str'>
id  =  1252253455135244289
Wed Apr 22 17:01:04 2020
OUTSIDE total_tweets =  2109
<class 'str'>
id  =  1252251425960230912
Wed Apr 22 17:01:04 2020
OUTSIDE total_tweets =  2134
<class 'str'>
id  =  1252249793553936383
Wed Apr 22 17:01:04 2020
OUTSIDE total_tweets =  2163
<class 'str'>
id  =  1252248595459342337
Wed Apr 22 17:01:04 2020
OUTSIDE total_tweets =  2181
<class 'str'>
id  =  1252247021475508225
Wed Apr 22 17:01:05 2020
OUTSIDE total_tweets =  2196
<class 'str'>
id  =  1252245598897651713
Wed Apr 22 17:01:05 2020
OUTSIDE total_tweets =  2218
<class 'str'>
id  =  1252244048309616644
Wed Apr 22 17:01:05 2020
OUTSIDE total_tweets =  2244
<class 'str'>
id  =  1252242277080215551
Wed Apr 22 17:01:05 2020
OUTSIDE total_tweets =  2279
<class 'str'>
id  =  1252240649841246208
Wed Apr 22 17:01:06 2020
OUTSIDE total_tweets =  2306
<class 'str'>
id  =  1252238658826010623
Wed Apr 22 17:01:06 2020
OUTSIDE total_tweets =  2330
<class 'str'>
id  =  1252237066206732290
Wed Apr 22 17:01:06 2020
OUTSIDE total_tweets =  2346
<class 'str'>
id  =  1252234767308689412
Wed Apr 22 17:01:07 2020
OUTSIDE total_tweets =  2372
<class 'str'>
id  =  1252233240083128320
Wed Apr 22 17:01:07 2020
OUTSIDE total_tweets =  2391
<class 'str'>
id  =  1252231621496852481
Wed Apr 22 17:01:07 2020
OUTSIDE total_tweets =  2415
<class 'str'>
id  =  1252230304967921663
Wed Apr 22 17:01:07 2020
OUTSIDE total_tweets =  2430
<class 'str'>
id  =  1252228820016431103
Wed Apr 22 17:01:08 2020
OUTSIDE total_tweets =  2440
<class 'str'>
id  =  1252227569472040959
Wed Apr 22 17:01:08 2020
OUTSIDE total_tweets =  2452
<class 'str'>
id  =  1252226387961929729
Wed Apr 22 17:01:08 2020
OUTSIDE total_tweets =  2472
<class 'str'>
id  =  1252224858341232640
Wed Apr 22 17:01:08 2020
OUTSIDE total_tweets =  2488
<class 'str'>
id  =  1252223721982615551
Wed Apr 22 17:01:09 2020
OUTSIDE total_tweets =  2501
<class 'str'>
id  =  1252222441293852673
Wed Apr 22 17:01:09 2020
OUTSIDE total_tweets =  2521
<class 'str'>
id  =  1252220885215428614
Wed Apr 22 17:01:09 2020
OUTSIDE total_tweets =  2540
<class 'str'>
id  =  1252219259473866753
Wed Apr 22 17:01:09 2020
OUTSIDE total_tweets =  2553
<class 'str'>
id  =  1252217738996494336
Wed Apr 22 17:01:10 2020
OUTSIDE total_tweets =  2567
<class 'str'>
id  =  1252216100076564481
Wed Apr 22 17:01:10 2020
OUTSIDE total_tweets =  2591
<class 'str'>
id  =  1252214256575156223
Wed Apr 22 17:01:10 2020
OUTSIDE total_tweets =  2614
<class 'str'>
id  =  1252212422674440198
Wed Apr 22 17:01:11 2020
OUTSIDE total_tweets =  2632
<class 'str'>
id  =  1252210620818227206
Wed Apr 22 17:01:11 2020
OUTSIDE total_tweets =  2651
<class 'str'>
id  =  1252208683590746112
Wed Apr 22 17:01:11 2020
OUTSIDE total_tweets =  2669
<class 'str'>
id  =  1252206301272322048
Wed Apr 22 17:01:11 2020
OUTSIDE total_tweets =  2693
<class 'str'>
id  =  1252203714414338047
Wed Apr 22 17:01:12 2020
OUTSIDE total_tweets =  2716
<class 'str'>
id  =  1252201791749451775
Wed Apr 22 17:01:12 2020
OUTSIDE total_tweets =  2737
<class 'str'>
id  =  1252199456583409664
Wed Apr 22 17:01:12 2020
OUTSIDE total_tweets =  2762
<class 'str'>
id  =  1252197137527582719
Wed Apr 22 17:01:13 2020
OUTSIDE total_tweets =  2792
<class 'str'>
id  =  1252193591432105989
Wed Apr 22 17:01:13 2020
OUTSIDE total_tweets =  2821
<class 'str'>
id  =  1252189518884679686
Wed Apr 22 17:01:13 2020
OUTSIDE total_tweets =  2843
<class 'str'>
id  =  1252185774373683199
Wed Apr 22 17:01:13 2020
OUTSIDE total_tweets =  2861
<class 'str'>
id  =  1252181720939593729
Wed Apr 22 17:01:14 2020
OUTSIDE total_tweets =  2886
<class 'str'>
id  =  1252175341541560323
Wed Apr 22 17:01:14 2020
OUTSIDE total_tweets =  2905
<class 'str'>
id  =  1252168780547006465
Wed Apr 22 17:01:14 2020
OUTSIDE total_tweets =  2918
<class 'str'>
id  =  1252159944977195007
Wed Apr 22 17:01:15 2020
OUTSIDE total_tweets =  2936
<class 'str'>
id  =  1252151690154909696
Wed Apr 22 17:01:15 2020
OUTSIDE total_tweets =  2948
<class 'str'>
id  =  1252144807142703106
Wed Apr 22 17:01:15 2020
OUTSIDE total_tweets =  2958
<class 'str'>
id  =  1252137065057263616
Wed Apr 22 17:01:15 2020
OUTSIDE total_tweets =  2978
<class 'str'>
id  =  1252130808162398208
Wed Apr 22 17:01:16 2020
OUTSIDE total_tweets =  2990
<class 'str'>
id  =  1252126221544026113
Wed Apr 22 17:01:16 2020
OUTSIDE total_tweets =  2997
<class 'str'>
id  =  1252121824877395967
Wed Apr 22 17:01:16 2020
OUTSIDE total_tweets =  3008
<class 'str'>
id  =  1252117998728552448
Wed Apr 22 17:01:16 2020
OUTSIDE total_tweets =  3018
<class 'str'>
id  =  1252115171847348223
Wed Apr 22 17:01:17 2020
OUTSIDE total_tweets =  3023
<class 'str'>
id  =  1252111323258687487
Wed Apr 22 17:01:17 2020
OUTSIDE total_tweets =  3039
<class 'str'>
id  =  1252107389278527488
Wed Apr 22 17:01:17 2020
OUTSIDE total_tweets =  3047
<class 'str'>
id  =  1252103704305700863
Wed Apr 22 17:01:18 2020
OUTSIDE total_tweets =  3056
<class 'str'>
id  =  1252099838751227903
Wed Apr 22 17:01:18 2020
OUTSIDE total_tweets =  3061
<class 'str'>
id  =  1252096225299628032
Wed Apr 22 17:01:18 2020
OUTSIDE total_tweets =  3070
<class 'str'>
id  =  1252093279560056836
Wed Apr 22 17:01:18 2020
OUTSIDE total_tweets =  3077
<class 'str'>
id  =  1252090979739303936
Wed Apr 22 17:01:19 2020
OUTSIDE total_tweets =  3085
<class 'str'>
id  =  1252088450930683904
Wed Apr 22 17:01:19 2020
OUTSIDE total_tweets =  3096
<class 'str'>
id  =  1252086257007632384
Wed Apr 22 17:01:19 2020
OUTSIDE total_tweets =  3109
<class 'str'>
id  =  1252083904992940032
Wed Apr 22 17:01:19 2020
OUTSIDE total_tweets =  3119
<class 'str'>
id  =  1252081911608074239
Wed Apr 22 17:01:20 2020
OUTSIDE total_tweets =  3129
<class 'str'>
id  =  1252079543059439617
Wed Apr 22 17:01:20 2020
OUTSIDE total_tweets =  3142
<class 'str'>
id  =  1252077534541463551
Wed Apr 22 17:01:20 2020
OUTSIDE total_tweets =  3156

<class 'str'>
id  =  1252075508818489344
Wed Apr 22 17:01:21 2020
OUTSIDE total_tweets =  3168
<class 'str'>
id  =  1252073599709650945
Wed Apr 22 17:01:21 2020
OUTSIDE total_tweets =  3176
<class 'str'>
id  =  1252072201383227393
Wed Apr 22 17:01:21 2020
OUTSIDE total_tweets =  3182
<class 'str'>
id  =  1252070601952497664
Wed Apr 22 17:01:21 2020
OUTSIDE total_tweets =  3193
<class 'str'>
id  =  1252068915800207359
Wed Apr 22 17:01:22 2020
OUTSIDE total_tweets =  3203
<class 'str'>
id  =  1252067390973603842
Wed Apr 22 17:01:22 2020
OUTSIDE total_tweets =  3221
<class 'str'>
id  =  1252065736954183679
Wed Apr 22 17:01:22 2020
OUTSIDE total_tweets =  3235
<class 'str'>
id  =  1252063851140374527
Wed Apr 22 17:01:23 2020
OUTSIDE total_tweets =  3246
<class 'str'>
id  =  1252062458954444799
Wed Apr 22 17:01:23 2020
OUTSIDE total_tweets =  3252
<class 'str'>
id  =  1252060919733125120
Wed Apr 22 17:01:23 2020
OUTSIDE total_tweets =  3258
<class 'str'>
id  =  1252059306805035014
Wed Apr 22 17:01:24 2020
OUTSIDE total_tweets =  3266
<class 'str'>
id  =  1252057741595738113
Wed Apr 22 17:01:24 2020
OUTSIDE total_tweets =  3274
<class 'str'>
id  =  1252056478065799169
Wed Apr 22 17:01:24 2020
OUTSIDE total_tweets =  3287
<class 'str'>
id  =  1252055079093522431
Wed Apr 22 17:01:24 2020
OUTSIDE total_tweets =  3294
<class 'str'>
id  =  1252053936405610497
Wed Apr 22 17:01:25 2020
OUTSIDE total_tweets =  3300
<class 'str'>
id  =  1252052565665239045
Wed Apr 22 17:01:25 2020
OUTSIDE total_tweets =  3308
<class 'str'>
id  =  1252051051139567617
Wed Apr 22 17:01:25 2020
OUTSIDE total_tweets =  3313
<class 'str'>
id  =  1252049627529920511
Wed Apr 22 17:01:25 2020
OUTSIDE total_tweets =  3326
<class 'str'>
id  =  1252048335650934783
Wed Apr 22 17:01:26 2020
OUTSIDE total_tweets =  3336
<class 'str'>
id  =  1252046848862367746
Wed Apr 22 17:01:26 2020
OUTSIDE total_tweets =  3346
<class 'str'>
id  =  1252045783026642943
Wed Apr 22 17:01:26 2020
OUTSIDE total_tweets =  3353
<class 'str'>
id  =  1252044493555142656
Wed Apr 22 17:01:26 2020
OUTSIDE total_tweets =  3365
<class 'str'>
id  =  1252042979155435519
Wed Apr 22 17:01:27 2020
OUTSIDE total_tweets =  3375
<class 'str'>
id  =  1252041231368151042
Wed Apr 22 17:01:27 2020
OUTSIDE total_tweets =  3384
<class 'str'>
id  =  1252040135732015105
Wed Apr 22 17:01:27 2020
OUTSIDE total_tweets =  3394
<class 'str'>
id  =  1252038638784917504
Wed Apr 22 17:01:28 2020
OUTSIDE total_tweets =  3401
<class 'str'>
id  =  1252037556406870015
Wed Apr 22 17:01:28 2020
OUTSIDE total_tweets =  3416
<class 'str'>
id  =  1252036727600013313
Wed Apr 22 17:01:28 2020
OUTSIDE total_tweets =  3425
<class 'str'>
id  =  1252035477424783363
Wed Apr 22 17:01:29 2020
OUTSIDE total_tweets =  3435
<class 'str'>
id  =  1252034278172524545
Wed Apr 22 17:01:29 2020
OUTSIDE total_tweets =  3441
<class 'str'>
id  =  1252033017104797697
Wed Apr 22 17:01:29 2020
OUTSIDE total_tweets =  3452
<class 'str'>
id  =  1252031894809501695
Wed Apr 22 17:01:29 2020
OUTSIDE total_tweets =  3457
<class 'str'>
id  =  1252030936176226303
Wed Apr 22 17:01:30 2020
OUTSIDE total_tweets =  3462
<class 'str'>
id  =  1252029924896104448
Wed Apr 22 17:01:30 2020
OUTSIDE total_tweets =  3472
<class 'str'>
id  =  1252028737169715202
Wed Apr 22 17:01:30 2020
OUTSIDE total_tweets =  3477
<class 'str'>
id  =  1252027822186561539
Wed Apr 22 17:01:31 2020
OUTSIDE total_tweets =  3482
<class 'str'>
id  =  1252026942120964097
Wed Apr 22 17:01:31 2020
OUTSIDE total_tweets =  3487
<class 'str'>
id  =  1252025837945323526
Wed Apr 22 17:01:31 2020
OUTSIDE total_tweets =  3498
<class 'str'>
id  =  1252025055627710464
Wed Apr 22 17:01:31 2020
OUTSIDE total_tweets =  3504
<class 'str'>
id  =  1252024470392508417
Wed Apr 22 17:01:32 2020
OUTSIDE total_tweets =  3514
<class 'str'>
id  =  1252023839061684224
Wed Apr 22 17:01:32 2020
OUTSIDE total_tweets =  3533
<class 'str'>
id  =  1252022690329886732
Wed Apr 22 17:01:32 2020
OUTSIDE total_tweets =  3541
<class 'str'>
id  =  1252021795089264640
Wed Apr 22 17:01:32 2020
OUTSIDE total_tweets =  3547
<class 'str'>
id  =  1252020794592395263
Wed Apr 22 17:01:33 2020
OUTSIDE total_tweets =  3552
<class 'str'>
id  =  1252020052955709441
Wed Apr 22 17:01:33 2020
OUTSIDE total_tweets =  3563
<class 'str'>
id  =  1252019201751031812
Wed Apr 22 17:01:33 2020
OUTSIDE total_tweets =  3569
<class 'str'>
id  =  1252018457614389252
Wed Apr 22 17:01:34 2020
OUTSIDE total_tweets =  3573
<class 'str'>
id  =  1252017638257106944
Wed Apr 22 17:01:34 2020
OUTSIDE total_tweets =  3583
<class 'str'>
id  =  1252016879281098751
Wed Apr 22 17:01:34 2020
OUTSIDE total_tweets =  3588
<class 'str'>
id  =  1252015884991901695
Wed Apr 22 17:01:34 2020
OUTSIDE total_tweets =  3593
<class 'str'>
id  =  1252014915608391680
Wed Apr 22 17:01:35 2020
OUTSIDE total_tweets =  3604
<class 'str'>
id  =  1252014085576802304
Wed Apr 22 17:01:35 2020
OUTSIDE total_tweets =  3613
<class 'str'>
id  =  1252013254433366015
Wed Apr 22 17:01:35 2020
OUTSIDE total_tweets =  3621
<class 'str'>
id  =  1252012553149886463
Wed Apr 22 17:01:35 2020
OUTSIDE total_tweets =  3629
<class 'str'>
id  =  1252011855280660479
Wed Apr 22 17:01:36 2020
OUTSIDE total_tweets =  3638
<class 'str'>
id  =  1252010829462925312
Wed Apr 22 17:01:36 2020
OUTSIDE total_tweets =  3650
<class 'str'>
id  =  1252009823715184639
Wed Apr 22 17:01:36 2020
OUTSIDE total_tweets =  3665
<class 'str'>
id  =  1252008554543767551
Wed Apr 22 17:01:36 2020
OUTSIDE total_tweets =  3678
<class 'str'>
id  =  1252007567519297538
Wed Apr 22 17:01:37 2020
OUTSIDE total_tweets =  3681
<class 'str'>
id  =  1252006427389984773
Wed Apr 22 17:01:37 2020
OUTSIDE total_tweets =  3689
<class 'str'>
id  =  1252005329245700095
Wed Apr 22 17:01:37 2020
OUTSIDE total_tweets =  3694
<class 'str'>
id  =  1252004455488335872
Wed Apr 22 17:01:38 2020
OUTSIDE total_tweets =  3703
<class 'str'>
id  =  1252003534142418950
Wed Apr 22 17:01:38 2020
OUTSIDE total_tweets =  3709
<class 'str'>
id  =  1252002527798796287
Wed Apr 22 17:01:38 2020
OUTSIDE total_tweets =  3719
<class 'str'>
id  =  1252001625239179263
Wed Apr 22 17:01:39 2020
OUTSIDE total_tweets =  3724
<class 'str'>
id  =  1252000666341474303
Wed Apr 22 17:01:39 2020
OUTSIDE total_tweets =  3730
<class 'str'>
id  =  1251999964458184704
Wed Apr 22 17:01:39 2020
OUTSIDE total_tweets =  3738
<class 'str'>
id  =  1251999195248185344
Wed Apr 22 17:01:39 2020
OUTSIDE total_tweets =  3744
<class 'str'>
id  =  1251998499845046275
Wed Apr 22 17:01:40 2020
OUTSIDE total_tweets =  3755
<class 'str'>
id  =  1251997779179831297
Wed Apr 22 17:01:40 2020
OUTSIDE total_tweets =  3768
<class 'str'>
id  =  1251996964620820479
Wed Apr 22 17:01:40 2020
OUTSIDE total_tweets =  3778
<class 'str'>
id  =  1251996262343364612
Wed Apr 22 17:01:41 2020
OUTSIDE total_tweets =  3785
<class 'str'>
id  =  1251995518546448384
Wed Apr 22 17:01:41 2020
OUTSIDE total_tweets =  3790
<class 'str'>
id  =  1251994480871444484
Wed Apr 22 17:01:41 2020
OUTSIDE total_tweets =  3797
<class 'str'>
id  =  1251992996406366207
Wed Apr 22 17:01:41 2020
OUTSIDE total_tweets =  3816
<class 'str'>
id  =  1251991564735438850
Wed Apr 22 17:01:42 2020
OUTSIDE total_tweets =  3832
<class 'str'>
id  =  1251990175653269504
Wed Apr 22 17:01:42 2020
OUTSIDE total_tweets =  3844
<class 'str'>
id  =  1251988859157708800
Wed Apr 22 17:01:42 2020
OUTSIDE total_tweets =  3856
<class 'str'>
id  =  1251987331772489727
Wed Apr 22 17:01:43 2020
OUTSIDE total_tweets =  3871
<class 'str'>
id  =  1251985956091166722
Wed Apr 22 17:01:43 2020
OUTSIDE total_tweets =  3888
<class 'str'>
id  =  1251984581231771653
Wed Apr 22 17:01:43 2020
OUTSIDE total_tweets =  3904
<class 'str'>
id  =  1251983081407275008
Wed Apr 22 17:01:43 2020
OUTSIDE total_tweets =  3920
<class 'str'>
id  =  1251981692295876612
Wed Apr 22 17:01:44 2020
OUTSIDE total_tweets =  3931
<class 'str'>
id  =  1251980356993134592
Wed Apr 22 17:01:44 2020
OUTSIDE total_tweets =  3945
<class 'str'>
id  =  1251979058889490433
Wed Apr 22 17:01:44 2020
OUTSIDE total_tweets =  3961
<class 'str'>
id  =  1251977366567600128
Wed Apr 22 17:01:44 2020
OUTSIDE total_tweets =  3971
<class 'str'>
id  =  1251976088252628991
Wed Apr 22 17:01:45 2020
OUTSIDE total_tweets =  3983

<class 'str'>
id  =  1251974752144633857
Wed Apr 22 17:01:45 2020
OUTSIDE total_tweets =  3997
<class 'str'>
id  =  1251973333236637695
Wed Apr 22 17:01:45 2020
OUTSIDE total_tweets =  4010
<class 'str'>
id  =  1251972225630076929
Wed Apr 22 17:01:46 2020
OUTSIDE total_tweets =  4021
<class 'str'>
id  =  1251970957666848770
Wed Apr 22 17:01:46 2020
OUTSIDE total_tweets =  4029
<class 'str'>
id  =  1251969962844909569
Wed Apr 22 17:01:46 2020
OUTSIDE total_tweets =  4039
<class 'str'>
id  =  1251968928269639681
Wed Apr 22 17:01:46 2020
OUTSIDE total_tweets =  4048
<class 'str'>
id  =  1251967969019793407
Wed Apr 22 17:01:47 2020
OUTSIDE total_tweets =  4059
<class 'str'>
id  =  1251966888554438664
Wed Apr 22 17:01:47 2020
OUTSIDE total_tweets =  4072
<class 'str'>
id  =  1251965962787618815
Wed Apr 22 17:01:47 2020
OUTSIDE total_tweets =  4080
<class 'str'>
id  =  1251965159431643136
Wed Apr 22 17:01:47 2020
OUTSIDE total_tweets =  4087
<class 'str'>
id  =  1251964372211036159
Wed Apr 22 17:01:48 2020
OUTSIDE total_tweets =  4090
<class 'str'>
id  =  1251963474533588993
Wed Apr 22 17:01:48 2020
OUTSIDE total_tweets =  4101
<class 'str'>
id  =  1251962785019330568
Wed Apr 22 17:01:48 2020
OUTSIDE total_tweets =  4110
<class 'str'>
id  =  1251962069508935681
Wed Apr 22 17:01:48 2020
OUTSIDE total_tweets =  4119
<class 'str'>
id  =  1251961484617240576
Wed Apr 22 17:01:49 2020
OUTSIDE total_tweets =  4125
<class 'str'>
id  =  1251960814061355008
Wed Apr 22 17:01:49 2020
OUTSIDE total_tweets =  4136
<class 'str'>
id  =  1251960082553884672
Wed Apr 22 17:01:49 2020
OUTSIDE total_tweets =  4145
<class 'str'>
id  =  1251959173195194370
Wed Apr 22 17:01:49 2020
OUTSIDE total_tweets =  4157
<class 'str'>
id  =  1251958146295377921
Wed Apr 22 17:01:50 2020
OUTSIDE total_tweets =  4168
<class 'str'>
id  =  1251957192686809088
Wed Apr 22 17:01:50 2020
OUTSIDE total_tweets =  4178
<class 'str'>
id  =  1251956292857577473
Wed Apr 22 17:01:50 2020
OUTSIDE total_tweets =  4191
<class 'str'>
id  =  1251955434937868287
Wed Apr 22 17:01:50 2020
OUTSIDE total_tweets =  4204
<class 'str'>
id  =  1251954471078412287
Wed Apr 22 17:01:51 2020
OUTSIDE total_tweets =  4218
<class 'str'>
id  =  1251953644213342211
Wed Apr 22 17:01:51 2020
OUTSIDE total_tweets =  4236
<class 'str'>
id  =  1251952826726547455
Wed Apr 22 17:01:51 2020
OUTSIDE total_tweets =  4247
<class 'str'>
id  =  1251951877060653055
Wed Apr 22 17:01:51 2020
OUTSIDE total_tweets =  4256
<class 'str'>
id  =  1251950964896079883
Wed Apr 22 17:01:52 2020
OUTSIDE total_tweets =  4265
<class 'str'>
id  =  1251949964181282820
Wed Apr 22 17:01:52 2020
OUTSIDE total_tweets =  4274
<class 'str'>
id  =  1251949050120646655
Wed Apr 22 17:01:52 2020
OUTSIDE total_tweets =  4287
<class 'str'>
id  =  1251948110089256961
Wed Apr 22 17:01:52 2020
OUTSIDE total_tweets =  4300
<class 'str'>
id  =  1251947311183298562
Wed Apr 22 17:01:53 2020
OUTSIDE total_tweets =  4310
<class 'str'>
id  =  1251946547908169727
Wed Apr 22 17:01:53 2020
OUTSIDE total_tweets =  4319
<class 'str'>
id  =  1251945670522667007
Wed Apr 22 17:01:53 2020
OUTSIDE total_tweets =  4327
<class 'str'>
id  =  1251944963929042943
Wed Apr 22 17:01:54 2020
OUTSIDE total_tweets =  4332
<class 'str'>
id  =  1251944286528180229
Wed Apr 22 17:01:54 2020
OUTSIDE total_tweets =  4342
<class 'str'>
id  =  1251943590860898306
Wed Apr 22 17:01:54 2020
OUTSIDE total_tweets =  4348
<class 'str'>
id  =  1251942841485582343
Wed Apr 22 17:01:54 2020
OUTSIDE total_tweets =  4352
<class 'str'>
id  =  1251942197156392959
Wed Apr 22 17:01:55 2020
OUTSIDE total_tweets =  4359
<class 'str'>
id  =  1251941587573247999
Wed Apr 22 17:01:55 2020
OUTSIDE total_tweets =  4362
<class 'str'>
id  =  1251941085707894783
Wed Apr 22 17:01:55 2020
OUTSIDE total_tweets =  4367
<class 'str'>
id  =  1251940489252597760
Wed Apr 22 17:01:56 2020
OUTSIDE total_tweets =  4377
<class 'str'>
id  =  1251939839269896191
Wed Apr 22 17:01:56 2020
OUTSIDE total_tweets =  4381
<class 'str'>
id  =  1251939331083771903
Wed Apr 22 17:01:56 2020
OUTSIDE total_tweets =  4387
<class 'str'>
id  =  1251938816820035584
Wed Apr 22 17:01:56 2020
OUTSIDE total_tweets =  4392
<class 'str'>
id  =  1251938375122157570
Wed Apr 22 17:01:57 2020
OUTSIDE total_tweets =  4401
<class 'str'>
id  =  1251937867871518720
Wed Apr 22 17:01:57 2020
OUTSIDE total_tweets =  4408
<class 'str'>
id  =  1251937449200230401
Wed Apr 22 17:01:57 2020
OUTSIDE total_tweets =  4411
<class 'str'>
id  =  1251937028180246528
Wed Apr 22 17:01:57 2020
OUTSIDE total_tweets =  4414
<class 'str'>
id  =  1251936692447084546
Wed Apr 22 17:01:58 2020
OUTSIDE total_tweets =  4419
<class 'str'>
id  =  1251936470451073023
Wed Apr 22 17:01:58 2020
OUTSIDE total_tweets =  4420
<class 'str'>
id  =  1251936312459919361
Wed Apr 22 17:01:58 2020
OUTSIDE total_tweets =  4420
<class 'str'>
id  =  1251936253785837573
Wed Apr 22 17:01:58 2020
OUTSIDE total_tweets =  4420
<class 'str'>
id  =  1251936020683280384
Wed Apr 22 17:01:59 2020
OUTSIDE total_tweets =  4423
<class 'str'>
id  =  1251934603369082879
Wed Apr 22 17:01:59 2020
OUTSIDE total_tweets =  4437
<class 'str'>
id  =  1251933329525538818
Wed Apr 22 17:01:59 2020
OUTSIDE total_tweets =  4451
<class 'str'>
id  =  1251932049059074048
Wed Apr 22 17:01:59 2020
OUTSIDE total_tweets =  4471
<class 'str'>
id  =  1251930663856594943
Wed Apr 22 17:02:00 2020
OUTSIDE total_tweets =  4487
<class 'str'>
id  =  1251929520644464639
Wed Apr 22 17:02:00 2020
OUTSIDE total_tweets =  4505
<class 'str'>
id  =  1251928250248552448
Wed Apr 22 17:02:00 2020
OUTSIDE total_tweets =  4518
<class 'str'>
id  =  1251927051457703939
Wed Apr 22 17:02:00 2020
OUTSIDE total_tweets =  4530
<class 'str'>
id  =  1251925825823428608
Wed Apr 22 17:02:01 2020
OUTSIDE total_tweets =  4542
<class 'str'>
id  =  1251924612285255680
Wed Apr 22 17:02:01 2020
OUTSIDE total_tweets =  4558
<class 'str'>
id  =  1251923478711799809
Wed Apr 22 17:02:01 2020
OUTSIDE total_tweets =  4573
<class 'str'>
id  =  1251922069094203392
Wed Apr 22 17:02:01 2020
OUTSIDE total_tweets =  4587
<class 'str'>
id  =  1251920797888905215
Wed Apr 22 17:02:02 2020
OUTSIDE total_tweets =  4598
<class 'str'>
id  =  1251919632144924672
Wed Apr 22 17:02:02 2020
OUTSIDE total_tweets =  4617
<class 'str'>
id  =  1251918709687549952
Wed Apr 22 17:02:02 2020
OUTSIDE total_tweets =  4633
<class 'str'>
id  =  1251917762026405887
Wed Apr 22 17:02:02 2020
OUTSIDE total_tweets =  4648
<class 'str'>
id  =  1251916858489319423
Wed Apr 22 17:02:03 2020
OUTSIDE total_tweets =  4656
<class 'str'>
id  =  1251915905241698303
Wed Apr 22 17:02:03 2020
OUTSIDE total_tweets =  4671
<class 'str'>
id  =  1251915184156717056
Wed Apr 22 17:02:03 2020
OUTSIDE total_tweets =  4683
<class 'str'>
id  =  1251914305085288448
Wed Apr 22 17:02:03 2020
OUTSIDE total_tweets =  4691
<class 'str'>
id  =  1251913624173436928
Wed Apr 22 17:02:04 2020
OUTSIDE total_tweets =  4692
<class 'str'>
id  =  1251913124879446016
Wed Apr 22 17:02:04 2020
OUTSIDE total_tweets =  4701
<class 'str'>
id  =  1251912625576800255
Wed Apr 22 17:02:04 2020
OUTSIDE total_tweets =  4705
<class 'str'>
id  =  1251912264778645503
Wed Apr 22 17:02:04 2020
OUTSIDE total_tweets =  4707
<class 'str'>
id  =  1251911866227425279
Wed Apr 22 17:02:05 2020
OUTSIDE total_tweets =  4713
<class 'str'>
id  =  1251910545978130431
Wed Apr 22 17:02:05 2020
OUTSIDE total_tweets =  4728
<class 'str'>
id  =  1251908859389607938
Wed Apr 22 17:02:05 2020
OUTSIDE total_tweets =  4748
<class 'str'>
id  =  1251907338593861634
Wed Apr 22 17:02:05 2020
OUTSIDE total_tweets =  4762
<class 'str'>
id  =  1251905724252381188
Wed Apr 22 17:02:06 2020
OUTSIDE total_tweets =  4778
<class 'str'>
id  =  1251903834466783233
Wed Apr 22 17:02:06 2020
OUTSIDE total_tweets =  4792
<class 'str'>
id  =  1251902399075119103
Wed Apr 22 17:02:06 2020
OUTSIDE total_tweets =  4808
<class 'str'>
id  =  1251901024039768069
Wed Apr 22 17:02:06 2020
OUTSIDE total_tweets =  4824
<class 'str'>
id  =  1251899917494255617
Wed Apr 22 17:02:07 2020
OUTSIDE total_tweets =  4839
<class 'str'>
id  =  1251898502692601855
Wed Apr 22 17:02:07 2020
OUTSIDE total_tweets =  4859
<class 'str'>
id  =  1251896984211947519
Wed Apr 22 17:02:07 2020
OUTSIDE total_tweets =  4878

<class 'str'>
id  =  1251895355161161734
Wed Apr 22 17:02:08 2020
OUTSIDE total_tweets =  4895
<class 'str'>
id  =  1251893620883574784
Wed Apr 22 17:02:08 2020
OUTSIDE total_tweets =  4916
<class 'str'>
id  =  1251892279138308100
Wed Apr 22 17:02:08 2020
OUTSIDE total_tweets =  4933
<class 'str'>
id  =  1251890841590861824
Wed Apr 22 17:02:09 2020
OUTSIDE total_tweets =  4946
<class 'str'>
id  =  1251889720621256703
Wed Apr 22 17:02:09 2020
OUTSIDE total_tweets =  4961
<class 'str'>
id  =  1251888393165905928
Wed Apr 22 17:02:09 2020
OUTSIDE total_tweets =  4980
<class 'str'>
id  =  1251886989068120063
Wed Apr 22 17:02:09 2020
OUTSIDE total_tweets =  5002
<class 'str'>
id  =  1251885600258523135
Wed Apr 22 17:02:10 2020
OUTSIDE total_tweets =  5021
<class 'str'>
id  =  1251884391539904512
Wed Apr 22 17:02:10 2020
OUTSIDE total_tweets =  5035
<class 'str'>
id  =  1251883422458564608
Wed Apr 22 17:02:10 2020
OUTSIDE total_tweets =  5054
<class 'str'>
id  =  1251882367989567493
Wed Apr 22 17:02:10 2020
OUTSIDE total_tweets =  5064
<class 'str'>
id  =  1251881301822656513
Wed Apr 22 17:02:11 2020
OUTSIDE total_tweets =  5081
<class 'str'>
id  =  1251879779453865983
Wed Apr 22 17:02:11 2020
OUTSIDE total_tweets =  5097
<class 'str'>
id  =  1251878363289001983
Wed Apr 22 17:02:11 2020
OUTSIDE total_tweets =  5105
<class 'str'>
id  =  1251877195028594687
Wed Apr 22 17:02:11 2020
OUTSIDE total_tweets =  5124
<class 'str'>
id  =  1251875748853547007
Wed Apr 22 17:02:12 2020
OUTSIDE total_tweets =  5136
<class 'str'>
id  =  1251874323255738368
Wed Apr 22 17:02:12 2020
OUTSIDE total_tweets =  5157
<class 'str'>
id  =  1251872979732107264
Wed Apr 22 17:02:12 2020
OUTSIDE total_tweets =  5178
<class 'str'>
id  =  1251871718618038272
Wed Apr 22 17:02:12 2020
OUTSIDE total_tweets =  5195
<class 'str'>
id  =  1251870459685072898
Wed Apr 22 17:02:13 2020
OUTSIDE total_tweets =  5209
<class 'str'>
id  =  1251869087782834176
Wed Apr 22 17:02:13 2020
OUTSIDE total_tweets =  5220
<class 'str'>
id  =  1251867792778936320
Wed Apr 22 17:02:13 2020
OUTSIDE total_tweets =  5232
<class 'str'>
id  =  1251866466749681663
Wed Apr 22 17:02:13 2020
OUTSIDE total_tweets =  5246
<class 'str'>
id  =  1251864974294749189
Wed Apr 22 17:02:14 2020
OUTSIDE total_tweets =  5262
<class 'str'>
id  =  1251863569022541824
Wed Apr 22 17:02:14 2020
OUTSIDE total_tweets =  5274
<class 'str'>
id  =  1251861817158184964
Wed Apr 22 17:02:14 2020
OUTSIDE total_tweets =  5282
<class 'str'>
id  =  1251860051410718719
Wed Apr 22 17:02:14 2020
OUTSIDE total_tweets =  5299
<class 'str'>
id  =  1251858456178540548
Wed Apr 22 17:02:15 2020
OUTSIDE total_tweets =  5323
<class 'str'>
id  =  1251856608272973824
Wed Apr 22 17:02:15 2020
OUTSIDE total_tweets =  5343
<class 'str'>
id  =  1251854097608609794
Wed Apr 22 17:02:15 2020
OUTSIDE total_tweets =  5359
<class 'str'>
id  =  1251852013685669887
Wed Apr 22 17:02:16 2020
OUTSIDE total_tweets =  5377
<class 'str'>
id  =  1251849791996395520
Wed Apr 22 17:02:16 2020
OUTSIDE total_tweets =  5398
<class 'str'>
id  =  1251847703337799679
Wed Apr 22 17:02:16 2020
OUTSIDE total_tweets =  5416
<class 'str'>
id  =  1251845194045161473
Wed Apr 22 17:02:16 2020
OUTSIDE total_tweets =  5437
<class 'str'>
id  =  1251842616754343943
Wed Apr 22 17:02:17 2020
OUTSIDE total_tweets =  5452
<class 'str'>
id  =  1251840414618914815
Wed Apr 22 17:02:17 2020
OUTSIDE total_tweets =  5469
<class 'str'>
id  =  1251837920849387519
Wed Apr 22 17:02:17 2020
OUTSIDE total_tweets =  5479
<class 'str'>
id  =  1251834597689765888
Wed Apr 22 17:02:17 2020
OUTSIDE total_tweets =  5504
<class 'str'>
id  =  1251831402745729024
Wed Apr 22 17:02:18 2020
OUTSIDE total_tweets =  5520
<class 'str'>
id  =  1251828110049370121
Wed Apr 22 17:02:18 2020
OUTSIDE total_tweets =  5534
<class 'str'>
id  =  1251824158956273664
Wed Apr 22 17:02:18 2020
OUTSIDE total_tweets =  5548
<class 'str'>
id  =  1251819226958086145
Wed Apr 22 17:02:18 2020
OUTSIDE total_tweets =  5560
<class 'str'>
id  =  1251815435617685503
Wed Apr 22 17:02:19 2020
OUTSIDE total_tweets =  5569
<class 'str'>
id  =  1251809354963013633
Wed Apr 22 17:02:19 2020
OUTSIDE total_tweets =  5588
<class 'str'>
id  =  1251802184527876096
Wed Apr 22 17:02:19 2020
OUTSIDE total_tweets =  5599
<class 'str'>
id  =  1251795949359255551
Wed Apr 22 17:02:20 2020
OUTSIDE total_tweets =  5610
<class 'str'>
id  =  1251790089203716095
Wed Apr 22 17:02:20 2020
OUTSIDE total_tweets =  5618
<class 'str'>
id  =  1251785679329263616
Wed Apr 22 17:02:20 2020
OUTSIDE total_tweets =  5630
<class 'str'>
id  =  1251780034609778687
Wed Apr 22 17:02:20 2020
OUTSIDE total_tweets =  5636
<class 'str'>
id  =  1251774369791180802
Wed Apr 22 17:02:21 2020
OUTSIDE total_tweets =  5646
<class 'str'>
id  =  1251769467371126783
Wed Apr 22 17:02:21 2020
OUTSIDE total_tweets =  5661
<class 'str'>
id  =  1251765499043536895
Wed Apr 22 17:02:21 2020
OUTSIDE total_tweets =  5669
<class 'str'>
id  =  1251761322779443199
Wed Apr 22 17:02:21 2020
OUTSIDE total_tweets =  5683
<class 'str'>
id  =  1251757933874032640
Wed Apr 22 17:02:22 2020
OUTSIDE total_tweets =  5689
<class 'str'>
id  =  1251755108938813439
Wed Apr 22 17:02:22 2020
OUTSIDE total_tweets =  5697
<class 'str'>
id  =  1251752281403465728
Wed Apr 22 17:02:22 2020
OUTSIDE total_tweets =  5704
<class 'str'>
id  =  1251749424914546687
Wed Apr 22 17:02:22 2020
OUTSIDE total_tweets =  5712
<class 'str'>
id  =  1251747116134862848
Wed Apr 22 17:02:23 2020
OUTSIDE total_tweets =  5718
<class 'str'>
id  =  1251744889324199937
Wed Apr 22 17:02:23 2020
OUTSIDE total_tweets =  5721
<class 'str'>
id  =  1251743236223369215
Wed Apr 22 17:02:23 2020
OUTSIDE total_tweets =  5726
<class 'str'>
id  =  1251740688896712704
Wed Apr 22 17:02:23 2020
OUTSIDE total_tweets =  5736
<class 'str'>
id  =  1251738686816993280
Wed Apr 22 17:02:24 2020
OUTSIDE total_tweets =  5743
<class 'str'>
id  =  1251736214832545792
Wed Apr 22 17:02:24 2020
OUTSIDE total_tweets =  5753
<class 'str'>
id  =  1251733961522503682
Wed Apr 22 17:02:24 2020
OUTSIDE total_tweets =  5759
<class 'str'>
id  =  1251731521440014336
Wed Apr 22 17:02:25 2020
OUTSIDE total_tweets =  5764
<class 'str'>
id  =  1251729379199246340
Wed Apr 22 17:02:25 2020
OUTSIDE total_tweets =  5772
<class 'str'>
id  =  1251727389488340993
Wed Apr 22 17:02:25 2020
OUTSIDE total_tweets =  5781
<class 'str'>
id  =  1251725614861766656
Wed Apr 22 17:02:25 2020
OUTSIDE total_tweets =  5791
<class 'str'>
id  =  1251723969524166657
Wed Apr 22 17:02:26 2020
OUTSIDE total_tweets =  5802
<class 'str'>
id  =  1251722168540381183
Wed Apr 22 17:02:26 2020
OUTSIDE total_tweets =  5809
<class 'str'>
id  =  1251720662475059199
Wed Apr 22 17:02:26 2020
OUTSIDE total_tweets =  5818
<class 'str'>
id  =  1251719020115566592
Wed Apr 22 17:02:27 2020
OUTSIDE total_tweets =  5826
<class 'str'>
id  =  1251716965699387393
Wed Apr 22 17:02:27 2020
OUTSIDE total_tweets =  5835
<class 'str'>
id  =  1251715500117196802
Wed Apr 22 17:02:27 2020
OUTSIDE total_tweets =  5850
<class 'str'>
id  =  1251713959813681151
Wed Apr 22 17:02:27 2020
OUTSIDE total_tweets =  5866
<class 'str'>
id  =  1251711893359808512
Wed Apr 22 17:02:28 2020
OUTSIDE total_tweets =  5882
<class 'str'>
id  =  1251710200379322368
Wed Apr 22 17:02:28 2020
OUTSIDE total_tweets =  5890
<class 'str'>
id  =  1251708551426342911
Wed Apr 22 17:02:28 2020
OUTSIDE total_tweets =  5898
<class 'str'>
id  =  1251706852280279039
Wed Apr 22 17:02:28 2020
OUTSIDE total_tweets =  5907
<class 'str'>
id  =  1251705655951491071
Wed Apr 22 17:02:29 2020
OUTSIDE total_tweets =  5913
<class 'str'>
id  =  1251704421177855999
Wed Apr 22 17:02:29 2020
OUTSIDE total_tweets =  5919
<class 'str'>
id  =  1251703215176835071
Wed Apr 22 17:02:29 2020
OUTSIDE total_tweets =  5927
<class 'str'>
id  =  1251701630631849984
Wed Apr 22 17:02:29 2020
OUTSIDE total_tweets =  5934
<class 'str'>
id  =  1251700190706270208
Wed Apr 22 17:02:30 2020
OUTSIDE total_tweets =  5943
<class 'str'>
id  =  1251698546585341953
Wed Apr 22 17:02:30 2020
OUTSIDE total_tweets =  5954
<class 'str'>
id  =  1251697084769730560
Wed Apr 22 17:02:30 2020
OUTSIDE total_tweets =  5963
<class 'str'>
id  =  1251695655728361477
Wed Apr 22 17:02:30 2020
OUTSIDE total_tweets =  5976

<class 'str'>
id  =  1251694298271285248
Wed Apr 22 17:02:31 2020
OUTSIDE total_tweets =  5990
<class 'str'>
id  =  1251693082212364287
Wed Apr 22 17:02:31 2020
OUTSIDE total_tweets =  6000
<class 'str'>
id  =  1251691881903333375
Wed Apr 22 17:02:31 2020
OUTSIDE total_tweets =  6009
<class 'str'>
id  =  1251690446969081858
Wed Apr 22 17:02:31 2020
OUTSIDE total_tweets =  6018
<class 'str'>
id  =  1251689163864313856
Wed Apr 22 17:02:32 2020
OUTSIDE total_tweets =  6026
<class 'str'>
id  =  1251687858617884672
Wed Apr 22 17:02:32 2020
OUTSIDE total_tweets =  6039
<class 'str'>
id  =  1251686760335257600
Wed Apr 22 17:02:32 2020
OUTSIDE total_tweets =  6051
<class 'str'>
id  =  1251685484046290944
Wed Apr 22 17:02:32 2020
OUTSIDE total_tweets =  6062
<class 'str'>
id  =  1251684195845488642
Wed Apr 22 17:02:33 2020
OUTSIDE total_tweets =  6076
<class 'str'>
id  =  1251682865609310207
Wed Apr 22 17:02:33 2020
OUTSIDE total_tweets =  6081
<class 'str'>
id  =  1251681701115260929
Wed Apr 22 17:02:33 2020
OUTSIDE total_tweets =  6085
<class 'str'>
id  =  1251680421236137984
Wed Apr 22 17:02:33 2020
OUTSIDE total_tweets =  6095
<class 'str'>
id  =  1251679168900759552
Wed Apr 22 17:02:34 2020
OUTSIDE total_tweets =  6102
<class 'str'>
id  =  1251677930050256899
Wed Apr 22 17:02:34 2020
OUTSIDE total_tweets =  6110
<class 'str'>
id  =  1251676837161263107
Wed Apr 22 17:02:34 2020
OUTSIDE total_tweets =  6124

TwythonRateLimitError: Twitter API returned a 429 (Too Many Requests), Rate limit exceeded

In [324]:
len(total_tweets)

6124

In [325]:
df_US=pd.DataFrame(total_tweets,columns=['date','tweet','created','fav','number of retweets','location','follower','verified','language','hashtags'])
# df_US.language.describe()
# df_US[df_US.language=="en"]
df_US

,date,tweet,created,fav,number of retweets,location,follower,verified,language,hashtags
0,Mon Apr 20 23:59:46 +0000 2020,The governor of the state where my family and ...,Sat Feb 02 22:30:16 +0000 2019,0,0,"Manhattan, NY",12,False,en,[]
1,Mon Apr 20 23:59:37 +0000 2020,@adamjohnsonNYC @burnlittlelight Never mind wh...,Thu Jul 21 23:27:07 +0000 2016,0,0,"New York, NY",171,False,en,[]
2,Mon Apr 20 23:59:10 +0000 2020,why do you only care about the southern portio...,Sat Oct 13 22:13:36 +0000 2018,0,0,"Maine, USA",20,False,en,[]
3,Mon Apr 20 23:59:07 +0000 2020,@TerryGalvanChi In this economy though? The De...,Sun Apr 10 05:04:03 +0000 2011,1,0,"New York, NY",41,False,en,[]
4,Mon Apr 20 23:59:05 +0000 2020,"Effect...So many things are broken, so many p...",Sun Feb 21 23:11:24 +0000 2010,0,0,Connecticut,182,False,en,[COVID19]
...,...,...,...,...,...,...,...,...,...,...
6119,Sun Apr 19 01:00:49 +0000 2020,Its over in more ways. Voting @realDonaldTru...,Mon May 23 17:01:58 +0000 2011,0,0,"Florida, NY",264,False,en,[]
6120,Sun Apr 19 01:00:48 +0000 2020,@joelockhart @realDonaldTrump PS a #tradedeal...,Thu Feb 21 23:29:59 +0000 2013,0,0,"Garden City, NY",292,False,en,"[tradedeal, American, Trump, US]"
6121,Sun Apr 19 01:00:32 +0000 2020,Floridas economy is collapsing under COVID-19...,Mon Aug 25 21:03:10 +0000 2008,27,14,Saugerties NY,13242,False,en,[]
6122,Sun Apr 19 01:00:17 +0000 2020,@kimKBaltimore @GovLarryHogan The virus is som...,Sat Jul 19 15:03:23 +0000 2014,0,0,"Maryland, USA",7043,False,en,[]
6123,Sun Apr 19 01:00:16 +0000 2020,California Legislators Amend AB5 Gig Economy L...,Thu Oct 17 05:23:57 +0000 2013,1,1,"New York, NY",234463,False,en,"[MusicNetworking, MusicLinkUp]"

In [326]:
from nltk.corpus import stopwords
import nltk 
nltk.download('stopwords')

stop_words1 = set(stopwords.words('english')) | set(['would', '#', '@'])
# df_title = pd.read_csv('data/titles_65k.csv', index_col=0)
df_US['tweet'] = df_US['tweet'].apply(lambda title: ' '.join([word for word in title.split() if word not in stop_words1]))
# df_title.to_csv('data/titles.csv')
df_US['tidy_tweet'] = df_US['tweet'].str.replace("[^a-zA-Z#]", " ")
df_US.head(10)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Che10\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,date,tweet,created,fav,number of retweets,location,follower,verified,language,hashtags,tidy_tweet
0,Mon Apr 20 23:59:46 +0000 2020,The governor state family friends live decided...,Sat Feb 02 22:30:16 +0000 2019,0,0,"Manhattan, NY",12,False,en,[],The governor state family friends live decided...
1,Mon Apr 20 23:59:37 +0000 2020,@adamjohnsonNYC @burnlittlelight Never mind ag...,Thu Jul 21 23:27:07 +0000 2016,0,0,"New York, NY",171,False,en,[],adamjohnsonNYC burnlittlelight Never mind ag...
2,Mon Apr 20 23:59:10 +0000 2020,care southern portion state? 2 cases County 2 ...,Sat Oct 13 22:13:36 +0000 2018,0,0,"Maine, USA",20,False,en,[],care southern portion state cases County ...
3,Mon Apr 20 23:59:07 +0000 2020,@TerryGalvanChi In economy though? The Devil p...,Sun Apr 10 05:04:03 +0000 2011,1,0,"New York, NY",41,False,en,[],TerryGalvanChi In economy though The Devil p...
4,Mon Apr 20 23:59:05 +0000 2020,"Effect...So many things broken, many prices g...",Sun Feb 21 23:11:24 +0000 2010,0,0,Connecticut,182,False,en,[COVID19],Effect So many things broken many prices g...
5,Mon Apr 20 23:58:37 +0000 2020,4) Meanwhile 6-8 residents become severely ill...,Sun Nov 27 04:09:11 +0000 2011,1,0,"Georgia, USA",17,False,en,[],Meanwhile residents become severely ill...
6,Mon Apr 20 23:57:46 +0000 2020,@GovMurphy No. The hospitals werent even clos...,Tue Nov 08 22:36:35 +0000 2016,3,0,"High Bridge, NJ",28,False,en,[],GovMurphy No The hospitals weren t even clos...
7,Mon Apr 20 23:57:00 +0000 2020,@AGWilliamTong Time open economy,Mon Mar 14 19:34:55 +0000 2011,0,0,"Greenwich, CT, USA",47,False,en,[],AGWilliamTong Time open economy
8,Mon Apr 20 23:56:49 +0000 2020,Gov. Ned Lamont painted picture Monday state e...,Wed Mar 04 18:57:23 +0000 2009,1,1,Connecticut,2046,False,en,[],Gov Ned Lamont painted picture Monday state e...
9,Mon Apr 20 23:56:22 +0000 2020,"@AliHamza78910 Man, Id love (as consumer, ign...",Wed Apr 09 03:50:19 +0000 2008,1,1,"Central Islip, NY",190,False,en,[],AliHamza Man I d love as consumer ign...

In [329]:
# df_US.to_csv(r'ny_21_updated_tweet_eco.csv', index = False)